<!-- TODO: update and use other partials like this -->
<footer class="py-4 bg-black">
  <div class="container partners">
      <!--<div class="partner">
          <img src="/img/sponsor square.png" class="logo"/>
      </div>
      <div class="partner">
          <img src="/img/sponsor square.png" class="logo"/>
      </div>-->
      <div class="partner title-partner">
          <a href="https://www.imsa.edu" class="text-reset">
              <img src="/img/imsa-logo.png" class="logo" />
              <p class="text-white spacer">|</p>
              <img src="/img/jhmc-logo.png" class="logo"/>
          </a>
      </div>
      <!--<div class="partner">
          <img src="/img/sponsor square.png" class="logo"/>
      </div>
      <div class="partner">
          <img src="/img/sponsor square.png" class="logo"/>
      </div>-->
  </div>
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; JHMC 2022</p>
  </div>
  <!-- /.container -->
</footer>
