<footer class="py-4 bg-black">
  <div class="container">
    <div class="row mx-auto d-flex justify-content-center pb-3 mb-3 gap-3">
      <div class="hstack d-flex justify-content-center justify-content-lg-end ms-sm-auto gap-3 col-lg-4 order-xl-1 order-lg-1">
        <a href="https://wolfram.com" class="text-reset">
          <img src="/img/wolfram-corporate-logo-stacked-med.png" class="logo wolfram-logo" alt="Wolfram Logo"/>
        </a>
        <a href="https://www.ams.org/home/page" class="text-reset">
          <img src="/img/ams-logo-white.svg" class="logo ams-logo" alt="AMS Logo"/>
        </a> 
      </div>
      <div class="d-flex justify-content-center align-items-center title-partner col-auto order-xl-2 order-lg-3">
          <a href="https://www.imsa.edu" class="text-reset">
              <img src="/img/imsa-logo.png" class="logo imsa-logo" alt="Blue/White IMSA Logo" />
          </a>
              <p class="text-white spacer">|</p>
          <a href="https://alumni.imsa.edu/org/mao/jhmc.php" class="text-reset">
              <img src="/img/jhmc-logo.png" class="logo jhmc-logo" alt="JHMC Logo"/>
          </a>
          
      </div>
      <div class="hstack d-flex justify-content-center justify-content-lg-start me-sm-auto gap-3 col-lg-4 order-xl-3 order-lg-2">
        <a href="https://aops.com" class="text-reset">
          <img src="/img/aops-light.png" class="logo aops-logo" alt="AOPS Logo"/>
        </a>
        <a href="https://janestreet.com" class="text-reset">
          <img src="/img/jane_street_light.png" class="logo jane-street-logo" alt="Jane Street Logo"/>
        </a>   
      </div>
    </div>
  </div>
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; JHMC <script>document.write(/\d{4}/.exec(Date())[0])</script>
    </p>
  </div>

  <%- include('./jquery') %>
</footer>
