<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%- include('../partials/meta'); %>

  <!-- TODO: WARNING, THIS PAGE IS NOWHERE NEAR DONE -->
  <!-- Update to 2022 -->
  <title>Contest Information</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet"> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">  -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <!-- Update to 2022 -->
      <a class="navbar-brand" href="/">JHMC 2022</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- TODO: add other pages (see partners page) -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contest Rules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/partners">Partners</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="/past-tests">Past Tests</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLScLNivDmUuYJrHekc0w8ylTJ0Nyi7Vx5p6LHdOxYjyOKgzZow/viewform?usp=sf_link" target = "_blank">Sign Up</a>
        </li>
    </ul>
    </div>
  </nav>

  <!-- Used to be different for bootstrap stuff, must harmonize -->
  <header class="masthead2 text-center imsa-foreground">
    <div class="masthead-content">
      <div class="container">
        <!-- TODO: Find good title -->
        <h1 class="masthead-heading mb-0">Outline of Rules</h1>
        <br />
        <h2>32nd Junior High Math Competition, March 12th, 2022</h2>
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/02.jpg" alt="">
          </div>
        </div> -->
        <div class="col-lg">
          <div class="p-5">
            <h2 class="display-4">Basic Guidelines</h2>
            <p>
              The Junior High Mathematics Contest (JHMC) is an IMSA-sponsored math contest
that consists of three formal rounds, the Individual Contest, the Team Contest, and
Creative Thinking Contest, along with a Speed Round held before the Awards
Ceremony. Each of these contests is described in more detail below. Each school may bring a maximum of 24
students to compete in the JHMC. Each student is allowed to use a calculator that is
acceptable for use on the SAT. Students should have a calculator and writing utensils
at their disposal. Any form of cheating, including looking up questions or sharing test
questions, will not be tolerated and doing such will disqualify the student from the JHMC.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Team Formation</h2>
            <p>While most students will be participating through their schools, there will also be an
              option to form ad-hoc teams if their school is not participating in JHMC. These ad-hoc
              teams will consist of four students with a maximum of two 8th graders. Students
              participate at either their own grade level or one above it. For example, a 7th grader may participate in the 8th grade events, but an 8th grader may not participate in the 7th grade events. Students may participate at different levels in different events.
              Students below 7th grade may participate in any event.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">

            <h2 class="display-4">Team Contest</h2>
            <p>The Team Contest is held at the 7th and 8th grade levels and consists of 20 questions
              to be answered by four-person teams in 40 minutes. Each school may enter up to 2
              four-person teams at each grade level and 1 four-person alternate team that will
              compete at the 8th grade level; students may not compete at more than one level.
              Each team will work collaboratively to answer the questions and may submit a single
              answer sheet for the team contest. Content covered at each level on the team
              contest is the same as the individual. Each correct answer on the team contest is
              worth 3 points, for a maximum possible score of 60 points. A school’s total for this
              event is the sum of the two team scores. Awards will be given to the top 3 teams and
              top 3 schools at each grade level in each division for the team contest.</p>
            <!-- <div class="col text-center">

            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">

            <h2 class="display-4">Creative Thinking Contest</h2>
            <p>The Creative Thinking Contest consists of 5 staggered questions to be answered in 25
              minutes. Each school may enter up to 8 two-person teams; there will be no alternate
              teams. Each team must have at least one 7th grader. Creative Thinking Contest
              questions are based on an extension of a normal curriculum, and include logic
              puzzles, tangrams, constructions, magic squares, patterns, or manipulation of
              numbers.
              Students receive five questions, one at a time. Timing will begin when teams receive
              their first question. They will have a maximum of 5 minutes to complete the first
              question. After 5 minutes, the first question will be collected and the second will be
              distributed; after 10 minutes the second will be collected and the third distributed;
              and so on. Teams may, if they finish a question before the 5 minutes are up, move on
              and use their extra time on the subsequent questions. Each correct answer on the
              creative thinking contest is worth 12 points, for a maximum possible score of 60
              points. Partial credit may be given. Ties will be broken by total time taken. A school’s
              total for this event is the sum of the top four pairs’ scores. Awards will be given to the
              top 3 pairs and top 3 schools in each division for the individual contest.</p>
            <!-- <div class="col text-center">

            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">

            <h2 class="display-4">Appeals</h2>
            <p>If, during a contest, a question seems ambiguous, the student should use his or her
              best judgment to answer the question. After each contest ends, students' answers will
              automatically be submitted. Coaches will be given the ability to submit formal and written protests through the website. All decisions by the judges and graders are final.</p>
            <!-- <div class="col text-center">

            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">

            <h2 class="display-4">Prizes</h2>
            <p>In addition to those detailed above, awards will be given to the 3 schools with the
              highest cumulative score. A school’s cumulative score is the sum of the scores of the
              top four 7th grade individuals (240 pts max), top four 8th grade individuals (240 pts

              max), both 7th grade teams (120 pts max), both 8th grade teams (120 pts max), and top
              four creative thinking pairs (240 pts max), for a maximum of 960 points. In the event
              of ties, duplicate awards will be given.
              Awards will also be distributed to the top 3 ad-hoc teams with highest cumulative
              scores. An ad-hoc team's cumulative score will be determined by all individual scores,
              the team score, and the two creative thinking scores.</p>
            <!-- <div class="col text-center">

            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="bottom-spacer">

  </div>

  <!-- Footer -->
  <%- include('../partials/footer') %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    $(window).scroll(() => {
      var yoff = window.pageYOffset;
      // Added x-component and square translate
      $(".bg-circle").map((i, a) => {
        $(a).css('transform', 'translate(' + (i) / 10 * yoff + 'px,' + (i + 1) / 6 * yoff + 'px)');
      })

      $(".bg-square").map((i, a) => {
        $(a).css('transform', 'translate(' + (i - 2) / 12 * yoff + 'px,' + (2 * i - 1) / 6 * yoff + 'px)');
      })
    });
  </script>

</body>

</html>
