<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%- include('../partials/meta'); %>

  <!-- TODO: WARNING, THIS PAGE IS NOWHERE NEAR DONE -->
  <title>Contest Rules | JHMC</title>
  <meta name="description" content="JHMC involves three rounds: Individual,
  Team, and Creative Thinking, which each contribute to an overall team score.
  Each student may use a calculator acceptable for use on the SAT.">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="canonical" href="https://imsajhmc.com/contest-rules">

  <!-- Custom fonts for this template -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet"> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">  -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <%- include('../partials/navbar') %>

  <!-- Used to be different for bootstrap stuff, must harmonize -->
  <header class="masthead2 text-center imsa-foreground">
    <div class="masthead-content">
      <div class="container">
        <!-- TODO: Find good title -->
        <h1 class="masthead-heading mb-0">Outline of Rules</h1>
        <br />
        <h2>34th Junior High Math Competition, March 6th (In-person) & 16th (Virtual), 2024</h2>
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/02.jpg" alt="Rounded Circle">
          </div>
        </div> -->
        <div class="col-lg">
          <div class="p-5">
            <h2 class="display-4">Basic Guidelines</h2>
            <p>
              The Junior High Mathematics Contest (JHMC) is an IMSA-sponsored math contest that
              consists of three formal rounds, the Individual Contest, the Team Contest, and
              Creative Thinking Contest. Each of these contests is described in more detail below.
              Teams will consist of 8 students and a maximum of 4 8th graders will be apart of each
              team. Schools are allowed to enter multiple teams, but final placements will be
              team-dependent, not school. Each student is allowed to use a calculator that is
              acceptable for use on the SAT. Students should have a calculator and writing utensils
              at their disposal. Any form of cheating, including but not limited to looking up questions,
              seeking help from unauthorized sources or sharing test questions, will not be
              tolerated and doing such will disqualify the student from the JHMC.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="Rounded Circle">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Team Formation</h2>
            <p>Students participate at either their own grade level or one above it. For example, anyone in 7th grade or below may participate in the 8th grade events, but an 8th grader may not participate in the 7th grade events. Students may participate at different levels in different events. Students below 7th grade may participate in any event. It is highly recommended that every team has 8 people so that they fill all the contest spots, but it is not required. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="Rounded Circle">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Ad hoc Team Formation</h2>
            <p>If a student's school is not planning on participating in JHMC,
              but the student is still interested in competing, they can rally
              up a few other friends to sign up to be on an ad hoc team.
              Ad hoc teams will consist of 8 members and still follow the same
              rules as school teams. However, they will not be eligible to win
              cumulative awards the same way school teams are. They can still
              win awards in the individual, team, and creative thinking rounds,
              but nothing in the overall category.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">

            <h2 class="display-4">Individual Contest</h2>
            <p>The Individual Contest is held at both the 7​th and 8​th grade
              levels and consists of 20 questions to be answered in 40 minutes.
              All students may compete in the individual contest; students may
              not compete at more than one level. The 7th grade contest includes
              arithmetic, simple introductory algebra very basic geometry. The
              8th grade individual contest covers these topics along with more
              complex algebra and additional introductory geometry. Each
              correct answer on the individual contest is worth 3 points,
              for a total of 60 points. A team's total for this event is the
              sum of the top four contestants’ scores in each grade.</p>
            <!-- <div class="col text-center">

            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="Rounded Circle">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">

            <h2 class="display-4">Team Contest</h2>
            <p>The Team Contest is held at the 7th and 8th grade levels and consists of 20 questions to be answered by four-person teams in 40 minutes. 5 of the questions will be science-themed problems, consisting of topics from computer science, physics, chemistry, and/or biology. Each team can enter two teams, one per grade level; students may not compete at more than one level. Each team will work collaboratively to answer the questions and may submit a single answer sheet for the team contest. Content covered at each level of the team contest is the same as the individual. Each correct answer on the team contest is worth 3 points, for a maximum possible score of 60 points. A team's total for this event is the sum of the two team scores. </p>
            <!-- <div class="col text-center">

            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="Rounded Circle">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">

            <h2 class="display-4">Creative Thinking Contest</h2>
            <p>The Creative Thinking Contest consists of 4 staggered questions to be answered in 20 minutes. Each team may enter up to 4 two-person teams. Each team will have a maximum of one 8th grader. Creative Thinking Contest questions are based on an extension of a normal curriculum, and include logic puzzles, tangrams constructions, magic squares, patterns, or manipulation of numbers.
              Students receive five questions, one at a time. Timing will begin when teams receive their first question. They will have a maximum of 5 minutes to complete the first question. After 5 minutes, the first question will be collected and the second will be distributed; after 10 minutes the second will be collected and the third distributed; and so on. Teams may, if they finish a question before the 5 minutes are up, move on and use their extra time on the subsequent questions. Each correct answer on the creative thinking contest is worth 4 points, for a maximum possible score of 16 points. Partial credit may be given. Ties will be broken by total time taken. A school’s total for this event is the sum of the top four pairs’ scores.</p>
            <!-- <div class="col text-center">

            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="Rounded Circle">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">

            <h2 class="display-4">Appeals</h2>
            <p>If, during a contest, a question seems ambiguous, the student should use his or her
              best judgment to answer the question. After each contest ends, students' answers will
              automatically be submitted. Coaches will be given the ability to submit formal and written protests through the website. All decisions by the judges and graders are final.</p>
            <!-- <div class="col text-center">

            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="Rounded Circle">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">

            <h2 class="display-4">Prizes</h2>
            <p>Teams will be ranked against each other based on their cumulative score, whose calculation is outlined throughout this document. The schools with the highest cumulative scores will received prizes. Individual scores will also be recorded, so anybody who scored perfect on any contest will also receive some sort of prize. Prize recipients will be given trophies, plaques, t-shirts, and other paraphernalia. Exact prizes and number of prize recipients will be determined once there is a more concrete comprehension of how many participants there are.</p>
            <!-- <div class="col text-center">

            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="bottom-spacer">

  </div>

  <!-- Footer -->
  <%- include('../partials/footer') %>

</body>

</html>
