<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%- include('../partials/meta'); %>

  <!-- TODO: WARNING, THIS PAGE IS NOWHERE NEAR DONE -->
  <title>Contest Information | JHMC</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet"> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">  -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <%- include('../partials/navbar') %>

  <!-- Used to be different for bootstrap stuff, must harmonize -->
  <header class="masthead text-center imsa-foreground">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">2024 Virtual JHMC</h1>
        <h2 class="masthead-subheading mb-0">Saturday, March 16th</h2>
        <!-- TODO: UPDATE GOOGLE FORM LINK HERE AND AT BOTTOM OF PAGE -->
        <!-- TODO: harmonize with bootstrap, for now changing colors manually -->
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScLNivDmUuYJrHekc0w8ylTJ0Nyi7Vx5p6LHdOxYjyOKgzZow/viewform?usp=sf_link" class="btn btn-imsa btn-xl rounded-pill mt-5">Fill Out Interest Form</a>
      </div>
    </div>
    <div class="bg-plus-1 bg-square" id="4">
        <!-- Making circles empty, maybe squares too and plus signs -->
        <table class="empty-plus">
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="bg-circle-1 bg-circle" id="1">
        <!-- Making circles empty, maybe squares too and plus signs -->
        <div class="empty-circle"></div>
    </div>
    <div class="bg-circle-2 bg-circle" id="2">
        <!-- Making circles empty, maybe squares too and plus signs -->
        <div class="empty-circle"></div>
    </div>
    <div class="bg-square-1 bg-square" id="3">
        <!-- Making circles empty, maybe squares too and plus signs -->
        <div class="empty-square"></div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/02.jpg" alt="Rounded Circle">
          </div>
        </div> -->
        <div class="col-lg">
          <div class="p-5">
            <h2 class="display-4">About</h2>
            <p>
              The 34th Annual JHMC, Virtual Division, will be held on Saturday,
              March 16, 2024. The contest is currently scheduled from 9:00 AM
              to 9:00 PM in your timezone, so students should expect to spend an
              entire day on the competition. Since the virtual contest will be occuring
			  at the international level, students will take their tests asynchronously while
			  being proctored by their coach.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row p-5">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Contest Rules</h5>
              <p class="card-text">Rules are subject to change. Official rules will be emailed.</p>
              <a href="https://drive.google.com/file/d/1g4cXq3jCScqmHfdXke1AVCs3SUBYExr5/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Rules</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Invitation Letter</h5>
              <p class="card-text">Updated for the 32nd annual JHMC, with online information.</p>
              <a href="https://drive.google.com/file/d/1f-UvVBwKOP-PQCymszWr5iwBBY6cVgGe/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Letter</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questions or Concerns</h5>
              <p class="card-text">Contact the team for any questions or concerns you have.</p>
              <a href="mailto:acherukuri@imsa.edu, vsenthilvenkatesh@imsa.edu, krouse@imsa.edu" class="btn btn-outline-dark" target = "_blank">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="Rounded Circle">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Now Online</h2>
            <p>Historically, JHMC has been in person, but due to the COVID pandemic
                last year, we brought the contest online. After the success of last
                year's contest, and the fixing of many of the bugs our first run had,
                we're maintaining an online division for this test in 2024 to give
                students across the world the same opportunity to compete and grow
                that Illinois middle-school students had for the past 31 years.</p>
            <p>This year, we're bringing JHMC to more schools and students around
                the world through online testing. Learn more about the testing
                software below. Students from schools outside of Illinois and from
                Illinois schools we weren't able to fit into the in-person division
                will be able to attend this contest either as part of a school
                team, or, if their school can't field a team, as an ad-hoc team. More about
                this can be found in the updated rules doc linked above.</p>
            <div class="col text-center">
              <a href="/test/sample" class="btn btn-dark btn-xl rounded-pill mt-5" style="margin: 0 auto;">Take a Sample
                Test</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- TODO: Add IMSA's info here and sample sponsor places -->

  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="Rounded Circle">
          </div>
        </div> -->
        <div class="col-lg order-lg-1">
          <div class="p-5">
            <!-- TODO: Update registration info after we get sponsor info -->
            <h2 class="display-4">Registration</h2>
            <p>Registration costs $50 for this year. Due to the popularity of this event,
                it is imperative that we know soon whether you are planning to attend and
                approximately how many students you plan to have compete. The registration
                fee is used to defray the cost of the event. If you'd like your school to
                participate, <a href="https://forms.gle/c75cSMbWnVUEs9tDA" style="margin: 0 auto;">Fill Out Interest Form</a>.</p>
            <!-- <div class="col text-center">

            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="bottom-spacer">

  </div>

  <!-- Footer -->
  <%- include('../partials/footer') %>

</body>

</html>
