<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/empty-head'); %>


    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/one-page-wonder.css" rel="stylesheet">
</head>

<body class="container">

    <header>
        <%- include('../partials/empty-header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1>
                        Something Went Wrong
                        <!-- Test -->
                    </h1>
                    <!-- <p>You have to complete this test</p> -->
                    <p>
                        <%= errorText %>
                    </p>
                    <div id="infoDiv" style="display: none;">
                        <hr>
                        <h2 id='infoTitle'>Test Completed</h2>
                    </div>
                    <button type="button" id="beginTestButton" class="btn btn-dark btn-lg" onclick="javascript:window.history.back();">
                        Go Back
                    </button>
                    <br>
                </div>
            </div>
        </div>
    </main>

</body>

</html>
