<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%- include('../partials/meta'); %>

    <title>2024 JHMC</title>
    <meta
      name="description"
      content="Since 1990, the IMSA Junior High Math Contest
  (JHMC) has brought creative, collaborative math to hundreds of talented middle
  school students."
    />

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="canonical" href="https://imsajhmc.com/" />

    <!-- Custom fonts for this template -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.css" rel="stylesheet" />
    <meta
      name="google-site-verification"
      content="RaZgm_cTXzGhpFqoMxcyo6agJEtp_a_B1pLvDpWuBlE"
    />
  </head>

  <body>
    <!-- Navigation -->
    <%- include('../partials/navbar') %>

    <!-- Used to be different for bootstrap stuff, must harmonize -->
    <header class="masthead text-center imsa-foreground">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">
            The 2024 Junior High Math Contest
          </h1>
          <!-- <h2 class="masthead-subheading mb-0">Saturday, March 12th</h2> -->
          <!-- TODO: UPDATE GOOGLE FORM LINK HERE AND AT BOTTOM OF PAGE -->
          <!-- TODO: harmonize with bootstrap, for now changing colors manually -->
          <a
            href="https://forms.gle/QyyUNT36hpXfZBUT7"
            target="_blank"
            class="btn btn-imsa btn-xl rounded-pill mt-5"
            style="color: white !important"
            >In-Person</a
          >&nbsp;&nbsp;&nbsp;
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSdu_fbvQNxdRObawCtMUXBI1IaQyCu6FnmTVaYeP65ptVxMTQ/viewform"
            target="_blank"
            class="btn btn-imsa btn-xl rounded-pill mt-5"
            style="color: white !important"
            >Virtual</a
          >&nbsp;&nbsp;&nbsp;

          <!-- <a href="https://students.imsa.edu/org/mao/jhmc.php" target = "_blank" class="btn btn-imsa btn-xl rounded-pill mt-5">In-Person</a> -->
        </div>
      </div>
      <!-- Making circles empty, maybe squares too and plus signs -->
      <div class="bg-plus-1 bg-square" id="4">
        <div class="empty-plus"></div>
      </div>
      <div class="bg-circle-1 bg-circle" id="1">
        <div class="empty-circle"></div>
      </div>
      <div class="bg-circle-2 bg-circle" id="2">
        <div class="empty-circle"></div>
      </div>
      <div class="bg-square-1 bg-square" id="3">
        <div class="empty-square"></div>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg">
            <div class="p-5">
              <h2 class="display-4">About</h2>
              <div class="container about-us-div">
                <div class="row about-us-row">
                  <div class="col-12 col-sm-6 about-us-column">
                    <h3 class="hover_blue hover-underline-animation">
                      <a
                        style="text-decoration: none"
                        href="https://forms.gle/QyyUNT36hpXfZBUT7"
                        >In-Person</a
                      >
                    </h3>
                    <p>
                      The 34th Annual Junior High Math Contest's in person
                      division will be held at the
                      <b>Illinois Mathematics and Science Academy</b> on
                      <b>Wednesday, March 6th, 2024</b>. Teams will be in-charge
                      of their own transportation to and from the Illinois
                      Mathematics and Science Academy. Students should expect to
                      spend up to three hours on the contest.
                    </p>
                    <a
                      href="https://forms.gle/QyyUNT36hpXfZBUT7"
                      type="button"
                      class="btn btn-blue"
                      target="_blank"
                    >
                      In-person Competition Registration
                    </a>
                  </div>
                  <div class="col-12 col-sm-6 about-us-column">
                    <h3
                      class="hover_blue hover-underline-animation"
                      style="text-decoration: none"
                    >
                      <a
                        style="text-decoration: none"
                        href="https://forms.gle/jgm5C8ihVD1uCXR17"
                        >Virtual Competition</a
                      >
                    </h3>
                    <p>
                      The 34th Annual Junior High Math Contest's virtual
                      division will be held on
                      <b>Saturday, March 16th, 2024</b>. The contest is
                      currently scheduled from 9:00 AM to 9:00 PM in your
                      timezone, and students should expect to spend up to three
                      hours on the contest. Since the virtual contest will be
                      occuring at the international level, students will take
                      their tests asynchronously.
                    </p>
                    <a
                      href="https://forms.gle/jgm5C8ihVD1uCXR17"
                      type="button"
                      class="btn btn-blue"
                      target="_blank"
                    >
                      Virtual Competition Pre-registration
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row px-5 py-3">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Contest Rules</h5>
                <p class="card-text">
                  Rules are subject to change. Official rules will be emailed.
                </p>
                <a
                  href="/contest-rules"
                  class="btn btn-outline-dark"
                  target="_blank"
                  >View Rules</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Sample Test</h5>
                <p class="card-text">
                  To see what the contest platform looks like, take a sample
                  test here.
                </p>
                <a href="/test/sample" class="btn btn-dark" target="_blank"
                  >Start Test</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Questions</h5>
                <p class="card-text">
                  Contact the team for any questions or concerns you have.
                </p>
                <a
                  href="mailto:asisodia@imsa.edu, acherukuri@imsa.edu, vsenthilvenkatesh@imsa.edu, krouse@imsa.edu"
                  class="btn btn-outline-dark"
                  target="_blank"
                  >Contact Us</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <div class="col-12 col-sm-6 col-md-4">
      <a
        href="/test/sample"
        class="btn btn-dark btn-xl rounded-pill mt-5"
        style="margin: 0 auto"
        >Take a Sample Test</a>
    </div> -->

    <section>
      <div class="container">
        <div class="row align-items-center">
          <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="Rounded Circle">
          </div>
        </div> -->
          <!-- <div class="col-lg order-lg-1">
              <div class="p-5">
                <h2 class="display-4">Now Online</h2>
                <p>
                  Historically, JHMC has been in person, but due to the COVID
                  pandemic last year, we brought the contest online. After the
                  success of last year's contest, and the fixing of many of the
                  bugs our first run had, we're maintaining an online division for
                  this test in 2023 to give students across the world the same
                  opportunity to compete and grow that Illinois middle-school
                  students had for the past 32 years.
                </p>
                <p>
                  This year, we're bringing JHMC to more schools and students
                  around the world through online testing. Experience our reliable
                  testing software below. Students from schools outside of
                  Illinois and from Illinois schools we weren't able to fit into
                  the in-person division will be able to attend this contest
                  either as part of a school team, or, if their school can't field
                  a team, as an ad-hoc team. More about this can be found in the
                  updated rules doc linked above.
                </p>

                <div class="col text-center">
                  <a
                    href="/test/sample"
                    class="btn btn-dark btn-xl rounded-pill mt-5"
                    style="margin: 0 auto"
                    >Take a Sample Test</a>
                </div>
              </div>
            </div> -->
        </div>
      </div>
    </section>

    <!-- TODO: Add IMSA's info here and sample sponsor places -->

    <section>
      <div class="container">
        <div class="row align-items-center">
          <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="Rounded Circle">
          </div>
        </div> -->
          <div class="col-lg order-lg-1">
            <div class="p-5">
              <!-- TODO: Update registration info after we get sponsor info -->
              <!--<h2 class="display-4">Registration</h2>
            <p>Registration costs $50 for this year. Due to the popularity of this event,
                it is imperative that we know soon whether you are planning to attend and
                approximately how many students you plan to have compete. The registration
                fee is used to defray the cost of the event. If you'd like your school to
                participate, <a href="https://docs.google.com/forms/d/e/1FAIpQLScLNivDmUuYJrHekc0w8ylTJ0Nyi7Vx5p6LHdOxYjyOKgzZow/viewform?usp=sf_linkA" target = "_blank" style="margin: 0 auto;">Fill Out Interest Form</a>.</p>-->
              <!-- <div class="col text-center">

            </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="bottom-spacer"></div>

    <!-- Footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
