<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%- include('../partials/meta'); %>

    <title>2024 JHMC</title>
    <meta
      name="description"
      content="Since 1990, the IMSA Junior High Math Contest
  (JHMC) has brought creative, collaborative math to hundreds of talented middle
  school students."
    />

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="canonical" href="https://imsajhmc.com/" />

    <!-- Custom fonts for this template -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.css" rel="stylesheet" />
    <link href="css/titlepage.css" rel="stylesheet" />

    <meta
      name="google-site-verification"
      content="RaZgm_cTXzGhpFqoMxcyo6agJEtp_a_B1pLvDpWuBlE"
    />
  </head>

  <body>
    <!-- Navigation -->
    <%- include('../partials/navbar') %>

    <!-- Used to be different for bootstrap stuff, must harmonize -->
    <header class="imsa-foreground title-page-cleaned">
      <div>
        <div class="main_container_wrapper">
          <div class="person_description">
            <h1>
              <span class="blueText">Hello!</span> <br />
              The 2024 Junior High Math Contest
            </h1>
            <div class="two-buttons">
              <button class="btn btn-primary learn_more_btn">
                Virtual Registration
              </button>
              <button class="btn btn-primary learn_more_btn">
                In Person Registration
              </button>
            </div>
          </div>
          <div class="person_image_wrapper">
            <img class="person1" src="img/MyHeaderImage.png" alt="JHMC" />
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg">
            <div class="p-5">
              <h2 class="display-4">About</h2>
              <!-- <h5>
                  If you're looking for information on the in-person contest,
                  click
                  <a href="https://students.imsa.edu/org/mao/jhmc.php">here</a>.
                </h5>
                <br />
                <p>
                  The 34rd Annual Junior High Math Contest's virtual division will
                  be held on Saturday, March 11th, 2023. The contest is currently
                  scheduled from 9:00 AM to 9:00 PM in your timezone, and students
                  should expect to spend up to three hours on the contest. Since
                  the virtual contest will be occuring at the international level,
                  students will take their tests asynchronously.
                </p> -->
              <div class="container about-us-div">
                <div class="row about-us-row">
                  <div class="col about-us-column">
                    <h3 class="hover_blue hover-underline-animation">
                      <a
                        style="text-decoration: none"
                        href="https://docs.google.com/forms/d/e/1FAIpQLScZIsSUbGkYrGsrvvc9IF_iQFxXhfKt8bU5vioBn4tRZx78rg/viewform"
                        >In-Person</a
                      >
                    </h3>
                    <p>
                      The 34th Annual Junior High Math Contest's in person
                      divison will be held at the
                      <b>Illinois Mathematics and Science Academy</b> on
                      <b>Wednesday, March 6th, 2024</b>. Teams will be
                      in-charge of their own transportation to and from the
                      Illinois Mathematics and Science Academy. Students should
                      expect to spend up to three hours on the contest.
                    </p>
                    <button
                      href="https://docs.google.com/forms/d/e/1FAIpQLScZIsSUbGkYrGsrvvc9IF_iQFxXhfKt8bU5vioBn4tRZx78rg/viewform"
                      type="button"
                      class="btn btn-blue"
                    >
                      In-person Competition Registeration
                    </button>
                  </div>
                  <div class="col about-us-column">
                    <h3
                      class="hover_blue hover-underline-animation"
                      style="text-decoration: none"
                    >
                      <a
                        style="text-decoration: none"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSfyKA4_UkWHXXepBR2S6owjtCFmIoHrmttV7rBAdghF-O19yA/viewform"
                        >Online</a
                      >
                    </h3>
                    <p>
                      The 34th Annual Junior High Math Contest's virtual
                      division will be held on
                      <b>Saturday, March 16th, 2024</b>. The contest is
                      currently scheduled from 9:00 AM to 9:00 PM in your
                      timezone, and students should expect to spend up to three
                      hours on the contest. Since the virtual contest will be
                      occuring at the international level, students will take
                      their tests asynchronously.
                    </p>
                    <button
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfyKA4_UkWHXXepBR2S6owjtCFmIoHrmttV7rBAdghF-O19yA/viewform"
                      type="button"
                      class="btn btn-blue"
                    >
                      Virtual Competition Registeration
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row p-5">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Contest Rules</h5>
                <p class="card-text">
                  Rules are subject to change. Official rules will be emailed.
                </p>
                <a
                  href="/contest-rules"
                  class="btn btn-outline-dark"
                  target="_blank"
                  >View Rules</a
                >
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Questions or Concerns</h5>
                <p class="card-text">
                  Contact the team for any questions or concerns you have.
                </p>
                <a
                  href="mailto:vsenthilvenkatesh@imsa.edu, mmeng@imsa.edu"
                  class="btn btn-outline-dark"
                  target="_blank"
                  >Contact Us</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">        </div>
      </div>
    </section>

    <!-- TODO: Add IMSA's info here and sample sponsor places -->

    <section>
      <div class="container">
        <div class="row align-items-center">
          <!-- <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="Rounded Circle">
          </div>
        </div> -->
          <div class="col-lg order-lg-1">
            <div class="p-5">
              <!-- TODO: Update registration info after we get sponsor info -->
              <!--<h2 class="display-4">Registration</h2>
            <p>Registration costs $50 for this year. Due to the popularity of this event,
                it is imperative that we know soon whether you are planning to attend and
                approximately how many students you plan to have compete. The registration
                fee is used to defray the cost of the event. If you'd like your school to
                participate, <a href="https://docs.google.com/forms/d/e/1FAIpQLScLNivDmUuYJrHekc0w8ylTJ0Nyi7Vx5p6LHdOxYjyOKgzZow/viewform?usp=sf_linkA" target = "_blank" style="margin: 0 auto;">Fill Out Interest Form</a>.</p>-->
              <!-- <div class="col text-center">

            </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="bottom-spacer"></div>

    <!-- Footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
