<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%- include('../partials/meta'); %>

  <title>Our Partners | JHMC</title>
  <meta name="description" content="Our contest wouldn't be possible with the generous
  support of the Illinois Mathematics and Science Academy and other partners.">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="canonical" href="https://imsajhmc.com/partners">

  <!-- Custom fonts for this template -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet"> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">  -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <%- include('../partials/navbar') %>

  <!-- Used to be different for bootstrap stuff, must harmonize -->
  <header class="masthead2 text-center imsa-foreground">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">2024 Contest Sponsors</h1>
        <!-- Add some space before subheading -->
        <br />
        <br />
        <h5>This year's virtual and in-person competition wouldn't be possible without the generous
            aid of our wonderful partners, who we can't possibly thank enough. Support
            from our partners helps us maintain contest infrastructure, provide prizes,
            and enhance the competition experience.</h5>
        <h5>If you're interested in supporting us, check out our <a href="https://docs.google.com/document/d/1LuVuatgulqi-lyqgp2L_j8MAMOcmvpnwTDzxN-c9eTU/edit?usp=sharing">sponsorship packet</a>.</h5>
        <!-- TODO: UPDATE GOOGLE FORM LINK HERE AND AT BOTTOM OF PAGE -->
        <!-- TODO: harmonize with bootstrap, for now changing colors manually -->
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/02.jpg" alt="Rounded Circle">
          </div>
        </div> -->
        <div class="col-lg">
          <div class="p-5">
            <h2 class="display-4">Title Partner</h2>
            <div class="partner-content">
                <img src="img/imsa-logo-full.png" class="logo-right" alt="Large Blue IMSA Logo" />
                <p class="partner-description">
                    The Illinois Mathematics and Science Academy (IMSA) is a public
                    highly-ranked boarding secondary school open to students from across
                    Illinois, with a mission to "ignite and nurture creative, ethical,
                    scientific minds that advance the human condition." For the past
                    32 years, IMSA has graciously hosted the Junior High Math Contest.
                </p>
                <p class="partner-description">
                    As we expand online across the country, it's only fitting to start
                    by acknowledging our roots. As students at IMSA, we're forever
                    grateful for the opportunities that our school provides us, whether
                    that means world-class instruction, talented peers, or a vibrant
                    campus life filled with the joy of learning. Most of all, we're
                    grateful to have come together as a team from every corner of the
                    state of Illinois to deliver this year's Junior High Mathematics
                    Competition. To learn more about IMSA and why it means so much to
                    us, visit the website linked below.
                    <br />
                    <br />
                    <a href="https://www.imsa.edu" class="btn btn-info" target = "_blank">Learn More</a>
                </p>
            </div>
            <div class="partner-content">
              <img src="img/ams-logo.svg" class="logo-right" alt="Large AMS Logo" style="image-resolution: 72dpi;"/>
              <p class="partner-description">
                The American Mathematical Society is an organization dedicated to fostering 
                an awareness and appreciation of mathematics and its connections to other 
                disciplines and everyday life. For over 135 years, AMS has been
                promoting research and connecting the diverse global mathematical 
                community through publications, meetings and conferences, MathSciNet, 
                professional services, advocacy, and awareness programs.
              </p>
              <p class="partner-description">
                  As math competition hosts, we seek to spread interest in STEM, 
                  which is why were proud to have sponsors who support us like AMS,
                  who share our vision and values.
                  To learn more about what AMS means to us and what it could also 
                  mean for you, visit the website linked below.
                  <br />
                  <br />
                  <a href="https://www.ams.org" class="btn btn-info" target = "_blank">Learn More</a>
              </p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Lead Partners</h2>
             <div class="partner-content">
                 <img src="img/big-sponsor-square.png" class="logo-left" alt="Sample Sponsor Logo"/>
                 <p class="partner-description">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Donec eu augue augue. Vivamus aliquam ante facilisis lorem
                     eleifend, ut ultrices massa molestie. Sed velit eros, congue
                     at est sit amet, ultricies volutpat massa. Pellentesque
                     habitant morbi tristique senectus et netus et malesuada
                     fames ac turpis egestas. Nam eu magna sit amet ex aliquam tempor
                     ac posuere tellus. Ut pretium lobortis velit sit amet luctus.
                 </p>
                 <p class="partner-description">
                     Donec sagittis, neque ac venenatis vulputate, augue dui suscipit
                     diam, quis venenatis ex tellus et arcu. Proin risus mi, vulputate
                     nec volutpat fringilla, ornare et quam. Proin tellus risus,
                     malesuada ac ex nec, volutpat fringilla metus. Aliquam vitae
                     velit pretium, ullamcorper arcu condimentum, luctus nulla.
                     Aenean ligula ipsum, posuere in tempor quis, eleifend a lacus.
                     Praesent eget dolor bibendum, porta enim eu, ullamcorper lectus.
                     <br />
                     <br />
                     <a href="https://imsa.edu" class="btn btn-info" target = "_blank">Learn More</a>
                 </p>
             </div>
             <div class="partner-content">
                 <img src="img/big-sponsor-square.png" class="logo-right" alt="Sample Sponsor Logo"/>
                 <p class="partner-description">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Donec eu augue augue. Vivamus aliquam ante facilisis lorem
                     eleifend, ut ultrices massa molestie. Sed velit eros, congue
                     at est sit amet, ultricies volutpat massa. Pellentesque
                     habitant morbi tristique senectus et netus et malesuada
                     fames ac turpis egestas. Nam eu magna sit amet ex aliquam tempor
                     ac posuere tellus. Ut pretium lobortis velit sit amet luctus.
                 </p>
                 <p class="partner-description">
                     Donec sagittis, neque ac venenatis vulputate, augue dui suscipit
                     diam, quis venenatis ex tellus et arcu. Proin risus mi, vulputate
                     nec volutpat fringilla, ornare et quam. Proin tellus risus,
                     malesuada ac ex nec, volutpat fringilla metus. Aliquam vitae
                     velit pretium, ullamcorper arcu condimentum, luctus nulla.
                     Aenean ligula ipsum, posuere in tempor quis, eleifend a lacus.
                     Praesent eget dolor bibendum, porta enim eu, ullamcorper lectus.
                     <br />
                     <br />
                     <a href="https://imsa.edu" class="btn btn-info" target = "_blank">Learn More</a>
                 </p>
             </div>
          </div>
        </div>
      </div>
    </div>
  </section>
-->
  <!-- TODO: Add IMSA's info here and sample sponsor places -->
  <!--TODO: Update registration info after we get sponsor info-->
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg order-lg-1">
          <div class="p-5">

            <h2 class="display-4">Sustaining Partners</h2>
            <div class="partner-content">
                <img src="img/wolfram-main.png" class="logo-left py-5" alt="Sample Sponsor Logo"/>
                <p class="partner-description">
                    Wolfram is a company that "aims to make all systematic knowledge
                    immediately computable and accessible to everyone." Its flagship
                    products include Wolfram|Alpha and Mathematica. Through JHMC,
                    Wolfram aims to connect with talented, scientifically-minded students.
                    <br />
                    <br />
                    <a href="https://wolfram.com" class="btn btn-info" target = "_blank">Learn More</a>
                </p>
            </div>
            <div class="partner-content">
                <img src="img/jane_street.png" class="logo-right" alt="Sample Sponsor Logo"/>
                <p class="partner-description">
                    Jane Street is a quantitative trading firm and liquidity
                    provider with a unique focus on technology and collaborative
                    problem-solving, offering educational and post-graduate
                    opportunities for students.
                    <br />
                    <br />
                    <a href="https://janestreet.com" class="btn btn-info" target = "_blank">Learn More</a>
                </p>
            </div>
            <div class="partner-content">
                <img src="img/aops-logo.svg" class="logo-left" alt="Sample Sponsor Logo"/>
                <p class="partner-description">
                    The Art of Problem Solving aims to create interactive educational
                    opportunities for avid students of mathematics (as well as other
                    problem-solving disciplines). It provides free resources and
                    paid courses for students at all levels of mathematics.
                    <br />
                    <br />
                    <a href="https://aops.com" class="btn btn-info" target = "_blank">Learn More</a>
                </p>
            </div>
           
            <div class="partner-content">
              <img src="img/studyhuddle-logo.png" class="logo-left" style = "width:300px; height:300px" alt="Sample Sponsor Logo"/>
              <p class="partner-description">
                At The Study Huddle, we understand that your student is special – and we take a personalized approach by strategically placing them with like-minded peers and best-in-class instructors, keeping them challenged and engaged while maximizing their potential.
                  <br />
                  <br />
                  <a href="https://thestudyhuddle.com/" class="btn btn-info" target = "_blank">Learn More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="bottom-spacer">

  </div>

  <!-- Footer -->
  <%- include('../partials/footer') %>

</body>

</html>
