<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%- include('../partials/meta'); %>

  <!-- Update to 2022 -->
  <!-- TODO: WARNING, THIS PAGE IS NOWHERE NEAR DONE -->
  <title>Past Tests</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet"> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">  -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <!-- Update to 2022 -->
      <a class="navbar-brand" href="#">JHMC 2022</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- TODO: add other pages (see partners page) -->
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contest-rules">Contest Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/partners">Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Past Tests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
      </ul>
    </div>
  </nav>

  <!-- Used to be different for bootstrap stuff, must harmonize -->
  <header class="masthead text-center imsa-foreground">
    <div class="masthead-content">
      <div class="container">
        <!-- TODO: Find good title -->
        <h1 class="masthead-heading mb-0">Past Tests</h1>
        <br />
        <h2>History of Tests Used in the Previous JHMCs</h2>
      </div>
    </div>
  </header>

  <section>
    
    <div class="container">
      <div class="col-lg">
        <div class="p-5">
      <h2 class="display-4">2021</h2>
        </div>
      </div>
      <div class="row p-5">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <!--todo: change-->
              <h5 class="card-title">7th Grade Individual</h5>
              <p class="card-text"></p>
              <a href="/docs/past-tests/2021/7ind.pdf" class="btn btn-outline-dark" target = "_blank">View Test</a>
              <a href="/public/docs/past-tests/2021/7indkey.pdf" class="btn btn-outline-dark" target = "_blank">View Answers</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">7th Grade Team</h5>
              <p class="card-text"></p>
              <a href="/docs/past-tests/2021/7team.pdf" class="btn btn-outline-dark" target = "_blank">View Test</a>
              <a href="/docs/past-tests/2021/7teamkey.pdf" class="btn btn-outline-dark" target = "_blank">View Answers</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">8th Grade Individual</h5>
              <p class="card-text"></p>
              <a href="/docs/past-tests/2021/8ind.pdf" class="btn btn-outline-dark" target = "_blank">View Test</a>
              <a href="/docs/past-tests/2021/8indkey.pdf" class="btn btn-outline-dark" target = "_blank">View Answers</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-5">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <!--todo: change-->
              <h5 class="card-title">8th Grade Team</h5>
              <p class="card-text"></p>
              <a href="/docs/past-tests/2021/8team.pdf" class="btn btn-outline-dark" target = "_blank">View Test</a>
              <a href="/docs/past-tests/2021/8teamkey.pdf" class="btn btn-outline-dark" target = "_blank">View Answers</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Creative Thinking</h5>
              <p class="card-text"></p>
              <a href="/docs/past-tests/2021/creative.pdf" class="btn btn-outline-dark" target = "_blank">View Test</a>
              <a href="/docs/past-tests/2021/creativekey.pdf" class="btn btn-outline-dark" target = "_blank">View Answers</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    <!--
    <div class="row p-5">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">

            <h5 class="card-title">Contest Rules</h5>
            <p class="card-text">Rules are subject to change. Official rules will be emailed.</p>
            <a href="https://drive.google.com/file/d/1g4cXq3jCScqmHfdXke1AVCs3SUBYExr5/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Rules</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Invitation Letter</h5>
            <p class="card-text">Updated for the 32nd annual JHMC, with online information.</p>
            <a href="https://drive.google.com/file/d/1f-UvVBwKOP-PQCymszWr5iwBBY6cVgGe/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Letter</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questions or Concerns</h5>
            <p class="card-text">Contact the team for any questions or concerns you have.</p>
            <a href="mailto:atang@imsa.edu, rjain@imsa.edu, krouse@imsa.edu" class="btn btn-outline-dark" target = "_blank">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-5">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">

            <h5 class="card-title">Contest Rules</h5>
            <p class="card-text">Rules are subject to change. Official rules will be emailed.</p>
            <a href="https://drive.google.com/file/d/1g4cXq3jCScqmHfdXke1AVCs3SUBYExr5/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Rules</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Invitation Letter</h5>
            <p class="card-text">Updated for the 32nd annual JHMC, with online information.</p>
            <a href="https://drive.google.com/file/d/1f-UvVBwKOP-PQCymszWr5iwBBY6cVgGe/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Letter</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questions or Concerns</h5>
            <p class="card-text">Contact the team for any questions or concerns you have.</p>
            <a href="mailto:atang@imsa.edu, rjain@imsa.edu, krouse@imsa.edu" class="btn btn-outline-dark" target = "_blank">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  <div class="row p-5">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">

          <h5 class="card-title">Contest Rules</h5>
          <p class="card-text">Rules are subject to change. Official rules will be emailed.</p>
          <a href="https://drive.google.com/file/d/1g4cXq3jCScqmHfdXke1AVCs3SUBYExr5/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Rules</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Invitation Letter</h5>
          <p class="card-text">Updated for the 32nd annual JHMC, with online information.</p>
          <a href="https://drive.google.com/file/d/1f-UvVBwKOP-PQCymszWr5iwBBY6cVgGe/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Letter</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questions or Concerns</h5>
          <p class="card-text">Contact the team for any questions or concerns you have.</p>
          <a href="mailto:atang@imsa.edu, rjain@imsa.edu, krouse@imsa.edu" class="btn btn-outline-dark" target = "_blank">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-5">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">

          <h5 class="card-title">Contest Rules</h5>
          <p class="card-text">Rules are subject to change. Official rules will be emailed.</p>
          <a href="https://drive.google.com/file/d/1g4cXq3jCScqmHfdXke1AVCs3SUBYExr5/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Rules</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Invitation Letter</h5>
          <p class="card-text">Updated for the 32nd annual JHMC, with online information.</p>
          <a href="https://drive.google.com/file/d/1f-UvVBwKOP-PQCymszWr5iwBBY6cVgGe/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Letter</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questions or Concerns</h5>
          <p class="card-text">Contact the team for any questions or concerns you have.</p>
          <a href="mailto:atang@imsa.edu, rjain@imsa.edu, krouse@imsa.edu" class="btn btn-outline-dark" target = "_blank">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
<div class="row p-5">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">Contest Rules</h5>
        <p class="card-text">Rules are subject to change. Official rules will be emailed.</p>
        <a href="https://drive.google.com/file/d/1g4cXq3jCScqmHfdXke1AVCs3SUBYExr5/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Rules</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Invitation Letter</h5>
        <p class="card-text">Updated for the 32nd annual JHMC, with online information.</p>
        <a href="https://drive.google.com/file/d/1f-UvVBwKOP-PQCymszWr5iwBBY6cVgGe/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Letter</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Questions or Concerns</h5>
        <p class="card-text">Contact the team for any questions or concerns you have.</p>
        <a href="mailto:atang@imsa.edu, rjain@imsa.edu, krouse@imsa.edu" class="btn btn-outline-dark" target = "_blank">Contact Us</a>
      </div>
    </div>
  </div>
</div>
<div class="row p-5">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
 
        <h5 class="card-title">Contest Rules</h5>
        <p class="card-text">Rules are subject to change. Official rules will be emailed.</p>
        <a href="https://drive.google.com/file/d/1g4cXq3jCScqmHfdXke1AVCs3SUBYExr5/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Rules</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Invitation Letter</h5>
        <p class="card-text">Updated for the 32nd annual JHMC, with online information.</p>
        <a href="https://drive.google.com/file/d/1f-UvVBwKOP-PQCymszWr5iwBBY6cVgGe/view?usp=sharing" class="btn btn-outline-dark" target = "_blank">View Letter</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Questions or Concerns</h5>
        <p class="card-text">Contact the team for any questions or concerns you have.</p>
        <a href="mailto:atang@imsa.edu, rjain@imsa.edu, krouse@imsa.edu" class="btn btn-outline-dark" target = "_blank">Contact Us</a>
      </div>
    </div>
  </div>
</div>-->
  </section>

  <div id="bottom-spacer">

  </div>

  <!-- Footer -->
  <%- include('../partials/footer') %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    $(window).scroll(() => {
      var yoff = window.pageYOffset;
      // Added x-component and square translate
      $(".bg-circle").map((i, a) => {
        $(a).css('transform', 'translate(' + (i) / 10 * yoff + 'px,' + (i + 1) / 6 * yoff + 'px)');
      })

      $(".bg-square").map((i, a) => {
        $(a).css('transform', 'translate(' + (i - 2) / 12 * yoff + 'px,' + (2 * i - 1) / 6 * yoff + 'px)');
      })
    });
  </script>

</body>

</html>
