<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%- include('../partials/meta'); %>

  <!-- Update to 2022 -->
  <!-- TODO: WARNING, THIS PAGE IS NOWHERE NEAR DONE -->
  <title>Past Tests | JHMC</title>
  <meta name="description" content="Practice for the JHMC with our collection of
  problems from past years, including Individual, Team, and Creative Thinking rounds.">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="canonical" href="https://imsajhmc.com/past-tests">

  <!-- Custom fonts for this template -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet"> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">  -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <%- include('../partials/navbar') %>

  <!-- Used to be different for bootstrap stuff, must harmonize -->
  <header class="masthead text-center imsa-foreground">
    <div class="masthead-content">
      <div class="container">
        <!-- TODO: Find good title -->
        <h1 class="masthead-heading mb-0">Past Tests</h1>
        <br />
        <h2>Select Tests from JHMC's History</h2>
      </div>
    </div>
  </header>

  <section>

    <div class="container">
      <div class="col-lg">
        <div class="p-5">
            <h2 class="display-4">2021</h2>
            <br />
            <p>
                The 31st (Virtual) Junior High Math Contest was held on Wednesday,
                March 10th, 2021. We thank the hundreds of students and dozens of
                schools that took a leap of faith to participate in the uncertain
                circumstances of the pandemic. The following are questions that
                are representative of the overall content and difficulty of JHMC.
            </p>
        </div>
      </div>
      <div class="row p-5">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <!--todo: change-->
              <h5 class="card-title">7th Grade Individual</h5>
              <p class="card-text"><i>40 minutes, 20 questions</i></p>
              <a href="/docs/past-tests/2021/7ind.pdf" class="btn btn-outline-dark" target = "_blank">View Test</a>
              <a href="/docs/past-tests/2021/7indkey.pdf" class="btn btn-outline-dark" target = "_blank">View Answers</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">7th Grade Team</h5>
              <p class="card-text"><i>40 minutes, 20 questions</i></p>
              <a href="/docs/past-tests/2021/7team.pdf" class="btn btn-outline-dark" target = "_blank">View Test</a>
              <a href="/docs/past-tests/2021/7teamkey.pdf" class="btn btn-outline-dark" target = "_blank">View Answers</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">8th Grade Individual</h5>
              <p class="card-text"><i>40 minutes, 20 questions</i></p>
              <a href="/docs/past-tests/2021/8ind.pdf" class="btn btn-outline-dark" target = "_blank">View Test</a>
              <a href="/docs/past-tests/2021/8indkey.pdf" class="btn btn-outline-dark" target = "_blank">View Answers</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-5">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <!--todo: change-->
              <h5 class="card-title">8th Grade Team</h5>
              <p class="card-text"><i>40 minutes, 20 questions</i></p>
              <a href="/docs/past-tests/2021/8team.pdf" class="btn btn-outline-dark" target = "_blank">View Test</a>
              <a href="/docs/past-tests/2021/8teamkey.pdf" class="btn btn-outline-dark" target = "_blank">View Answers</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Creative Thinking</h5>
              <p class="card-text"><i>25 minutes, 5 questions</i></p>
              <a href="/docs/past-tests/2021/creative.pdf" class="btn btn-outline-dark" target = "_blank">View Test</a>
              <a href="/docs/past-tests/2021/creativekey.pdf" class="btn btn-outline-dark" target = "_blank">View Answers</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
  </section>

  <div id="bottom-spacer">

  </div>

  <!-- Footer -->
  <%- include('../partials/footer') %>
  
</body>

</html>
